/*=================================
SUPPORT STAFF
=================================*/

.supportSection{
    padding:120px 8%;
    background:#fff;
}

.supportHeading{
    max-width:760px;
    margin:0 auto 70px;
    text-align:center;
}

.supportHeading span{
    color:#B88A44;
    font-weight:600;
    letter-spacing:5px;
    text-transform:uppercase;
}

.supportHeading h2{
    margin:20px 0;
    font-size:3rem;
    font-family:"Playfair Display", serif;
    color:#5A3E2B;
    line-height:1.2;
}

.supportHeading h2 span{
    display:block;
    color:#B88A44;
}

.supportHeading p{
    color:#666;
    line-height:1.9;
}

.supportGrid{
    max-width:1300px;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.supportCard{
    background:#FAF8F5;
    border-radius:20px;
    overflow:hidden;

    transition:.35s;
    box-shadow:0 12px 30px rgba(0,0,0,.05);
}

.supportCard:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 40px rgba(0,0,0,.10);
}

.supportImage{
    height:260px;

    background:#F1ECE5;
    border-bottom:3px solid #B88A44;

    display:flex;
    justify-content:center;
    align-items:center;

    color:#8A6B47;
    font-weight:600;
}

.supportContent{
    padding:25px;
    text-align:center;
}

.supportContent h3{
    color:#5A3E2B;
    font-family:"Playfair Display", serif;
    font-size:1.35rem;
    margin-bottom:10px;
}

.supportContent p{
    color:#B88A44;
    font-weight:500;
}

.supportButton{
    margin-top:50px;
    text-align:center;
}

.supportButton button{
    padding:15px 38px;

    background:#B88A44;
    color:#fff;

    border:none;
    border-radius:50px;

    font-size:1rem;
    font-weight:600;

    transition:.3s;
}

.supportButton button:hover{
    background:#5A3E2B;
}

/*=========================
Responsive
=========================*/

@media(max-width:1100px){

.supportGrid{
    grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:768px){

.supportHeading h2{
    font-size:2.3rem;
}

}

@media(max-width:576px){

.supportSection{
    padding:90px 6%;
}

.supportGrid{
    grid-template-columns:1fr;
}

.supportHeading h2{
    font-size:2rem;
}

.supportImage{
    height:220px;
}

}