@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    --brown:#5A3E2B;
    --dark-brown:#3B261A;
    --gold:#B88A44;
    --cream:#FAF8F5;
    --beige:#E8DCCB;
    --white:#FFFFFF;
    --text:#3A3A3A;

    --radius:18px;
    --shadow:0 15px 35px rgba(0,0,0,.08);
    --transition:.35s ease;
}